body{
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
  height: 100%;
}

.slider_inner{
  display: block;
  width: 100%;
  height: 300px;
  background-color: #d9d9d9;
}

/*
 * grobal
 */
.cale_pink{
  background-color: #FF6B6B !important;
}

.cale_yelllow{
  background-color: #FFE66D !important;  
}

.cale_green{
  background-color: #35BAAD !important;    
}

.lead{
  font-size: 16px;
  font-weight: bold;
}

.eng_font{
  font-family: 'Montserrat', sans-serif;  
}

/*nav*/
nav{
  box-shadow: none;
}

nav .brand-logo{
  width: 85px;
  margin-left: -43px;
}

.header_color{
  background-color: #fff;
}

/*
  contents_header
*/
.contents_header{
  background-color: #7685CB;
  padding: 20px 0;  
  color: #fff;
}

.contents_header.intro{
  height: 200px;
  padding: 0;
}

.contents_header.preview{
  padding-top: 0;
}

.contents_header.preview p{
}

.contents_header p{
  font-size: 18px;
  padding-bottom: 3px;
  border-bottom:5px solid #FFC23E;
  display: inline-block;
}

.contents_header img{
  height: 100%;
}

/*
 *indtroduction
 */
.intro .container{
  padding-bottom: 20px;
} 

.contents p.lead{
  background-color: #FFC23E;
  margin: 20px 0;
  padding: 20px 0;
  color: #fff;
  position: relative;
}

.contents p.lead:after{
  content: "";
	border: 15px solid transparent;
	border-top: 15px solid #FFC23E;
  position: absolute;	
  top: 63px;
  right: 0;
  left: 0;
  margin: auto;
	width: 0;
	height: 0;
  
}

p.subhead{
  display: block;
  padding: 5px 8px;
  border-radius: 20px; 
  background-color: #F2F2F2;   
}

.contents p.subhead,.calendar p.subhead{
  display: block;
  padding: 5px 8px;
  border-radius: 20px; 
  background-color: #F2F2F2;    
}

.calendar p.subhead,.form_preview p.subhead{
  display: inline-block;
  padding: 5px 20px;
  border-radius: 20px; 
  background-color: #F2F2F2;
  margin-bottom: 5px;
  font-weight: bold;  
  font-size: 16px;
}


.contents p.subhead.finish{
  background-color: #FD496D;  
  color: #fff;
}

.contents p.description{
  padding-top: 0.4em;
  font-weight: bold;
  margin-top: 0;
}

.start{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.start a{
  width: 200px;
}

/*
 * insta_connect
 */
.insta_logo{
  margin-top: 80px;
}
 
.insta_logo i{
  font-size: 100px;
}

/*
 * calendar
 */
.calendar{
   margin-bottom: 100px;
 }


.calendar .header{
  padding-left: 0.75em;
  margin-bottom: 10px;
}


.input-field input{
  margin-top: 5px;
  font-size: 30px;
}

.anniversary_date{
  margin-top: 20px;
}

/*
 * choose photo
 */
.col.thumb{
  padding: 0.25em;
  margin: 0;
   width: 100%;
   height: 100%;  
}

.thumb.active{
  position: relative;
}

.thumb.active img{
  box-shadow: 0 0 0 3px #FB486C;
}

.thumb.active:after{
  content: "\f058";
  font-family: fontawesome;
  position: absolute;
  color: #FB486C;
  font-size: 24px;
  top: 0;
  right: 8px;
}

/*
 * preview
 */
.calendar_preview{
  padding: 20px;
  border: 1px solid #9d9d9d;
  position: relative;
  background-color: #fff;
}

.correction p.subhead{
  margin-top: 0;
  font-size: 12px;
  background-color: #7685CB;
}

.correction p.subhead a{
  color: #fff;
  font-weight: normal;
}

.calendar .date{
  display: block;
  
}

.calendar .date p{
  margin: 0;
  text-align: right;
}

.calendar .date .year p{
  font-size: 17px;
  font-weight: bold;
}

.calendar .date .month p{
  font-size: 17px;
  font-weight: bold;
}

.calendar .date .day p{
  font-size: 40px;
  font-weight: bold;
}

/*
 * form_preview
 */
.calenndar_name{
  padding-top: 8px;
}
 
.form_preview .preview_list{

}
 
.form_preview p{
  margin: 0;
}
 
.form_preview p.lead{
  font-size: 14px;
  padding-top: 0.4em;
}

.form_preview p.date{
  font-size: 24px;
  font-weight: normal;
}

.form_preview p.address{
  font-size: 16px;
}

.form_preview p.price{
  font-size: 24px;
}

/*
 * thanks
 */
.thanks{
  background-color: #7685CB;
  height: 90vh;
  padding-top: 100px;
} 
 
.thanks .thanks_icon{
  font-size: 120px;
  color: #f08686;
}

.thanks .thanks_message p{
  font-size: 30px;
  margin: 0;
  color: #f08686;  
}

/*
 * button
 */
.btn{
  background-color: inherit;
  border: 4px solid #7685CB;
  border-radius: 30px;
}

a.btn{
  color: #7685CB;
  font-size: 20px;
  font-weight: bold;
  line-height: 2.3em;
}

a.btn:hover{
  color: #fff;
  background-color: #7685CB;
}

/*
 * footer
 */
 
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*
 * action_btn
 */
 
.action_btn{
  position: fixed;
  bottom:0;
  width: 100%;
  height: 66px;
  background-color: #FD496D;
  z-index: 999;
}

.thaks_btn{
  background-color: #7685CB;  
}

.action_btn a{
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding-top: 0.8em;
}

/*
 * stepbar
 */
.stepBar {
  position: relative;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}

.stepBar .step{
  position: relative;
  float: left;
  display: inline-block;
  line-height: 2em;
  background-color: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.stepBar .step p{
  margin: 0;
}

.stepBar .step.current p{
  display: inline-block;
  border-bottom:5px solid #FFC23E;
}

/*
  swiper
*/
.swiper-button-next,.swiper-button-prev{
    background-image: none;
    position: relative;
}

.swiper-button-prev{
  float: left;
}

.swiper-button-next{
  float: right;
}


.swiper-button-next:after{
  content: "\f105";
  font-family: fontawesome;
  font-size: 50px;
  line-height: 1.0em;
  color: 
}
.swiper-button-prev:after{
  content: "\f104";
  font-family: fontawesome;
  font-size: 50px;
  line-height: 1.0em;
}
/*

.stepBar .step:before, .stepBar .step:after {
  position: absolute;
  left: -15px;
  display: block;
  content: '';
  background-color: #eee;
  border-left: 4px solid #FFF;
  width: 20px;
  height: 20px;
}
.stepBar .step:after {
  top: 0;
  -moz-transform: skew(30deg);
  -ms-transform: skew(30deg);
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
}
.stepBar .step:before {
  bottom: 0;
  -moz-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
}
*/

.stepBar .step:first-child {
}
.stepBar .step:first-child:before, .stepBar .step:first-child:after {
  content: none;
}
.stepBar .step:last-child {
}

.stepBar.step3 .step {
  width: 33.333%;
}

/*alert*/
.alert{
  display: none;
}

.alert.active_alert{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 0;
}

.alert.active_alert ul{
  background: #ab9588;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 65px 0;
  padding: 10px 0 20px 0;
  color: #fff;
  border-top: 5px solid #FCD916;
  animation: alert_up 0.5s ease 0s 1 normal;
  -webkit-animation: alert_up 0.5s ease 0s 1 normal;
  opacity: 0.9;
  text-align: center;
}

.alert.active_alert ul li{
  text-align: center;
  line-height: 2em;
}

.alert.active_alert ul li.lead{
  color: #fff;
  display: inline-block;
  border-bottom: 2px solid #FCD916;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px auto 5px;
}

@keyframes alert_up {
    0% {bottom: -1000px}
    100% {bottom: 0}
}

@-webkit-keyframes alert_up {
    0% {bottom: -1000px}
    100% {bottom: 0}
}

@media (min-width:845px){
  .calendar.preview{
    margin-bottom: 80px;
  }
  
  .swiper-button-next,.swiper-button-prev{
    position: absolute;
    top: 200px;
  }  
}

@media (max-width:768px){
  nav .brand-logo{
    margin-left: 0;
  }
  
  .contents p.description{
    margin-top: 1em;
  }  
  
  .calendar.preview .container{
    position: fixed;
    height: 100%;
    width: 82%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(30vh);    
  }
  
  .calender_preview_nav{
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    
  }
  
  .swiper-button-next,.swiper-button-prev{
    top: -60px;
  }

  .calendar.preview.on .container{
    animation: preview_up 1s ease 0s both;
    -webkit-animation: preview_up 1s ease 0s both;
  }
  
  @keyframes preview_up {
      0% {transform: translateY(30vh);}
      100% {transform: translateY(3vh);}
  }  
  
  @-webkit-keyframes preview_up {
      0% {transform: translateY(30vh);}
      100% {transform: translateY(3vh);}
  }  

}


@media (max-width:368px){

}
